@media only screen and (max-width: 1200px) {
	.row {
	  margin: 0 15px;
	}
	.hero-text-box{
		width: 90%;
	}
}
@media only screen and (max-width: 950px) {
  .main-nav{
  	display: none;
  }
  .mobile-menu span{
  	display: block;
  }
}

@media only screen and (max-width: 980px){
	.span_1_of_4{
		width: 49.2%;
	}
	.span_1_of_4:nth-child(3){
		margin-left: 0;
	}
}

@media only screen and (max-width: 800px){
	.little-description{
		width: 100%;
		margin-left: 0;
	}
  #home .hero-text h3 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 55px;
  }
  
}
@media only screen and (max-width: 700px){
  .span_1_of_4{
		width: 100%;
	}
  .span_1_of_2{
		width: 100%;
	}
  .span_1_of_3{
		width: 100%;
	}
}
@media only screen and (max-width: 500px){
	#home .hero-text h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 44px;
  }
}
@media only screen and (max-width: 480px){
	#home .hero-text h6{
    font-size: 13px;
  }
  #home .hero-text h3 {
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 28px;
  }
  #home .btn {
    padding: 10px 18px;
    font-size: 15px;
  }
}